<h2><center>QCM list</center></h2>
<div class="top20"></div>
<%= link_to 'Create', new_qcm_path, class: 'btn btn-sm btn-primary' %>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Team</th>
    </tr>
  </thead>
  <tbody>
    <% @qcms.each do |qcm| %>
    <tr>
      <th scope="row"></th>
      <td><%= qcm.first_name %></td>
      <td><%= qcm.last_name %></td>
      <td><%= qcm.team_name %></td>
    </tr>
    <% end %>
  </tbody>
</table>
